*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    .realClock
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color:white;
        font-size: 128px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    .clockContainer {
        //background-color: black;
        width: 720px;
        height: 480px;
       
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        //72 horizontally
        //48 vertically
        .triangle {
            position: absolute;
            width: 10px;
            height: 10px;
            //border: 1px solid white;
            font-size: 4px;
            display: grid;
            justify-items: center;
            align-items: center;
            transform:scale(0.9) rotate(0);
            transition: 0.3s;
            background-color: white;
            background-image: url(../Images/trinagleWhite.png);
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            &.active
            {
                transform:scale(1.7) rotate(180deg);
                background-color: transparent;
                background-image: url(../Images/triangle.png);
            }
        }
        @for $x from 1 to 73 {
            @for $y from 1 to 49 {
                $index : $y +(($x - 1)*48);
                .triangle:nth-child(#{$index}) {
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    
                    top: (($y - 1) * 10) +px;
                    left: (($x - 1) * 10) +px;
                }
            }
        }
    }
}
